<!DOCTYPE html>
<html>
 
<head>
    <title>Chat bot</title>
</head>

<body>
    {% include 'nav.html' %}

    {% block content %}
    {% endblock %}

    <h1>BOT</h1>


    <form action = "http://localhost:5050/bot" method = "post">
           <p>Ask me something:</p>
           <p><input type = "text" name = "nm" /></p>
           <p><input type = "submit" value = "submit" /></p>
    </form> 
    
    
    <h4>Bot says: {{name}}</h4>
 <!-- this section can be replaced by a child document -->  
 
 
</body>
 
</html>